.totalPay,
.placeOrder {
  float: right;
  margin-right: 100px;
  padding-bottom: 10px;
}

.placeOrder {
  margin-top: 10px;
  padding: 10px;
  background-color: yellowgreen;
}
.placeOrder:hover {
  background-color: green;
}
