.adminImage{
    margin-left:40px;
    margin-right:100px;
    width:250px;

}
.viewProducts{
    font-family:"Trebuchet MS, Arial, Helvetica, sans-serif";
    width:90%;
    border-bottom: turquoise;
    border-collapse: separate;
    margin-left:100px;
}


.viewProducts th{
    background-color:#008cba;
    text-align:center;
    padding:10px;
    font-size: x-large;
}

.viewProducts td{
    text-align:center;
    padding:10px;
    font-size:large;
    font-weight: bold;
  
}
.productImage{
    float:left;
    margin-left:100px;
    margin-right:250px;
    width:300px;
    height:300px;
    border:3px solid #f1f1f1;
}
.jumbotron{
    height:450px;
}

.greybtn,.redbtn{
    padding:0px 10px;
    border:1px solid black;
    width:60%;
}
.redbtn{
    background-color: rgba(255, 0, 0, 0.700);
}