.pagination {
  list-style: none;
  margin-left: 2px;
  display: flex;
  margin-top: 50px;
  margin-right: 40px;
  float: right;
  /* position:fixed; */
}
.pagination button {
  padding: 3px;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 0.3em;
  /* position: relative; */
  outline: 1px;
}

button.active,
button:focus {
  background: #008cba;
}
