.textbox {
  width: 300px;
  /* padding: 12px 20px; */
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
  display:flex;
}

.button {
  background-color: #008cba;
  width: 150px;
  color: white;
  padding: 10px 4px;
  text-align: center;
  margin: 4px 2px;
}
.button:hover {
  opacity: 0.8;
}
