.textbox {
  width: 300px;
  /* padding: 12px 20px; */
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid black;
  display:flex;
}

.button {
  background-color: #008cba;
  width: 150px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin: 4px 4px;
  display:inline-block;
  min-width: 150px;;
  width:fit-content;
}

.button:hover {
  opacity: 0.8;
}

.form{
  border: 4px solid #f1f1f1;
  width:30%;
  /* height:80%; */
  margin-top:100px;
  margin-bottom:100px;
  margin-left:450px;
  padding:40px;
  align-items: center;
}

.navigation {
  list-style: none;
  background:#008cba;
  display: flex;
  justify-content:flex-end;
  padding-right:250px;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center; 
  padding: 20px;
  padding-right:50px;
  font-size: 20px;
}

.navigation a:hover {
  color:black;
}
.navigation a:active{
  color:black;
}
.navigation .activeClass{
  color:black;
}

.fa{
  font-size:24px;
}

.badge:after{
  content:attr(value);
  font-size:14px;
  background: red;
  border-radius:5px;
  padding:3px;
  position:relative;
  left:-5px;
  top:-10px;
  opacity:0.9;
  }