.login{
    border:3px solid burlywood;
    width:30%;
    height:80%;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:450px;
    padding:40px;
    display:flex;
}

input{
    width:70%;
    margin:10px;
    display:inline-block;
    border:1px solid #ccc;
    box-sizing:border-box;
}
/* .submit { 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
}  */
.errorMsg{
    color:red;
    font-size: 15px;
}